<div class="jumbotron container mt-5">
    <h1 class="display-4">Error: 404 Page not found!</h1>
    <p class="lead">This Page can not be found please click the botton below to go back to the home page.</p>
    <hr class="my-4">
    {{link-to "Home" "home-route" class="btn btn-primary btn-lg"}}
</div>